In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('ads_list1000.csv')
df.head()

C:\Users\Brian\AppData\Local\Temp\ipykernel_21000\3643120627.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ads_list1000.csv')

,Unnamed: 0,admin_info,apply_url,as_top,attrs,badge_info,booster_info,can_view_contacts,can_view_contacts_auth_url,category_name,...,region_slug,short_description,slug,title,title_labels,tops_count,url,user_id,user_phone,is_inspected
0,0,{},NaN,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 40, 'type': 'boosters_vip'}",True,NaN,Cars,...,kilimani,Alloy wheels Fog lights Steering controls beig...,toyota-crown-2012-white,Toyota Crown 2012 White,[],0,/kilimani/cars/toyota-crown-2012-white-zdSxJqf...,3868544,780772266,NaN
1,1,{},NaN,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 2, 'type': 'boosters_vip'}",True,NaN,Cars,...,kilimani,"Mazda CX-5, petrol, 2016, 2000cc, white in col...",mazda-cx-5-2016-white,Mazda CX-5 2016 White,[],0,/kilimani/cars/mazda-cx-5-2016-white-tPI6quTgo...,849570,795058606,NaN
2,2,{},NaN,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,NaN,Cars,...,ridgeways,"2015 Mazda demio diesel,alloy rims, steering c...",mazda-demio-2015-silver,Mazda Demio 2015 Silver,[],0,/ridgeways/cars/mazda-demio-2015-silver-8civgP...,1945226,723676360,NaN
3,3,{},NaN,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,NaN,Cars,...,langata,"2200cc Diesel,\nSkyactive,\ncruise control,\nI...",mazda-cx-5-sv-premium-2013-black,Mazda CX-5 SV Premium 2013 Black,[],0,/mugumo-ini-langata/cars/mazda-cx-5-sv-premium...,3947081,724469757,NaN
4,4,{},NaN,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters'}",True,NaN,Cars,...,nairobi-central,Peugeot 508 \n\n2014 Model | 1600cc petrol eng...,peugeot-508-2014-black,Peugeot 508 2014 Black,[],1,/nairobi-central/cars/peugeot-508-2014-black-B...,871969,790706018,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'admin_info', 'apply_url', 'as_top', 'attrs',
       'badge_info', 'booster_info', 'can_view_contacts',
       'can_view_contacts_auth_url', 'category_name', 'category_slug',
       'fb_view_content_data', 'guid', 'id', 'image_obj', 'images',
       'images_count', 'is_boost', 'is_cv', 'is_job', 'is_owner', 'is_top',
       'labels', 'message_url', 'paid_info', 'price_obj', 'region_id',
       'region_item_text', 'region_name', 'region_parent_name', 'region_slug',
       'short_description', 'slug', 'title', 'title_labels', 'tops_count',
       'url', 'user_id', 'user_phone', 'is_inspected'],
      dtype='object')

In [7]:
df.shape

(17810, 40)

In [8]:
df.shape

(17810, 40)

In [9]:
attrs_df = df['attrs']
attrs_df

0        [{'name': 'Condition', 'unit': None, 'value': ...
1        [{'name': 'Condition', 'unit': None, 'value': ...
2        [{'name': 'Condition', 'unit': None, 'value': ...
3        [{'name': 'Condition', 'unit': None, 'value': ...
4        [{'name': 'Condition', 'unit': None, 'value': ...
                               ...
17805    [{'name': 'Condition', 'unit': None, 'value': ...
17806    [{'name': 'Condition', 'unit': None, 'value': ...
17807    [{'name': 'Condition', 'unit': None, 'value': ...
17808    [{'name': 'Condition', 'unit': None, 'value': ...
17809    [{'name': 'Condition', 'unit': None, 'value': ...
Name: attrs, Length: 17810, dtype: object

In [10]:
attrs_list = attrs_df.tolist()

In [11]:
attrs_list[0]

"[{'name': 'Condition', 'unit': None, 'value': 'Kenyan Used'}, {'name': 'Transmission', 'unit': None, 'value': 'Automatic'}]"

In [12]:
attr1 = eval(attrs_list[0])
type(attr1)

list

In [13]:
for item in attr1:
    print(item)

{'name': 'Condition', 'unit': None, 'value': 'Kenyan Used'}
{'name': 'Transmission', 'unit': None, 'value': 'Automatic'}

In [14]:
for clm in df.columns:
    print(clm)

Unnamed: 0
admin_info
apply_url
as_top
attrs
badge_info
booster_info
can_view_contacts
can_view_contacts_auth_url
category_name
category_slug
fb_view_content_data
guid
id
image_obj
images
images_count
is_boost
is_cv
is_job
is_owner
is_top
labels
message_url
paid_info
price_obj
region_id
region_item_text
region_name
region_parent_name
region_slug
short_description
slug
title
title_labels
tops_count
url
user_id
user_phone
is_inspected