In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
plt.rcParams['figure.figsize'] = [10, 5]

In [3]:
plt.style.use('fivethirtyeight')

In [4]:
df = pd.read_csv('cardata1.csv')
df.drop('Unnamed: 0', axis=1, inplace =True)
df['age'] = df['Year of Manufacture'].apply(lambda x: 2022-float(x))

In [5]:
# Extract kenyan used cars
filt_kenya = df['Condition']=='Kenyan Used'
df=df.loc[filt_kenya]
df.shape

(4099, 13)

# Basic Data exploration

In [6]:
df.describe()

,Year of Manufacture,Mileage,selling_price,listing_duration,age
count,4099.00000,2.957000e+03,4.096000e+03,4099.000000,4099.00000
mean,2010.02342,1.291919e+05,2.314996e+06,42.975116,11.97658
std,4.33250,9.926718e+04,2.200597e+06,40.321952,4.33250
min,1958.00000,7.000000e+03,1.600000e+05,13.000000,1.00000
25%,2008.00000,9.700000e+04,1.050000e+06,21.000000,9.00000
50%,2011.00000,1.200000e+05,1.650000e+06,30.000000,11.00000
75%,2013.00000,1.450000e+05,2.700000e+06,49.000000,14.00000
max,2021.00000,1.980000e+06,4.500000e+07,434.000000,64.00000