In [1]:
import requests
import json
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [2]:
import time
import random

In [37]:
def get_listingrecursive(link,x):
    req = requests.get(link)
    adverts_list = []
    data = req.content
    data_dict = json.loads(data.decode('utf-8'))
    adverts = data_dict['adverts_list']['adverts']
    adverts_list.extend(adverts)
    next_url = data_dict['next_url']
    if len(next_url)>10:
              
        wait_time = random.randint(1,10)
        print(f"Page: {x}, delay:{wait_time}")
        x=x+1  
        time.sleep(wait_time)   
#         get_listingrecursive(next_url,x)
        try:
            get_listingrecursive(next_url,x)  
        except:
            pass
   
    return adverts_list

In [38]:
url_link = 'https://jiji.co.ke/api_web/v1/listing?slug=cars&webp=true&page=1'
cars_list1 = get_listingrecursive(url_link, 1)
df_cars = pd.DataFrame(cars_list)
df_cars.to_csv("cars.csv")

Page: 1, delay:4
Page: 2, delay:5
Page: 3, delay:2
Page: 4, delay:9
Page: 5, delay:9
Page: 6, delay:3
Page: 7, delay:7
Page: 8, delay:8
Page: 9, delay:8
Page: 10, delay:10
Page: 11, delay:6
Page: 12, delay:2
Page: 13, delay:1
Page: 14, delay:9
Page: 15, delay:1
Page: 16, delay:10
Page: 17, delay:8
Page: 18, delay:7
Page: 19, delay:3
Page: 20, delay:7
Page: 21, delay:8
Page: 22, delay:8
Page: 23, delay:3
Page: 24, delay:8
Page: 25, delay:2
Page: 26, delay:7
Page: 27, delay:4
Page: 28, delay:5
Page: 29, delay:6
Page: 30, delay:1
Page: 31, delay:6
Page: 32, delay:2
Page: 33, delay:2
Page: 34, delay:8
Page: 35, delay:4
Page: 36, delay:5
Page: 37, delay:3
Page: 38, delay:2
Page: 39, delay:7
Page: 40, delay:3
Page: 41, delay:4
Page: 42, delay:5
Page: 43, delay:5
Page: 44, delay:4
Page: 45, delay:3
Page: 46, delay:9
Page: 47, delay:3
Page: 48, delay:4
Page: 49, delay:9
Page: 50, delay:9
Page: 51, delay:9
Page: 52, delay:3
Page: 53, delay:10
Page: 54, delay:10
Page: 55, delay:3
Page: 56, delay:7
Page: 57, delay:10
Page: 58, delay:10
Page: 59, delay:3
Page: 60, delay:10
Page: 61, delay:5

In [40]:
len(cars_list1)

20

In [ ]:
def get_listing(link):
    req = requests.get(link)
#     ads_list = []
    data = req.content
    data_dict = json.loads(data.decode('utf-8'))
    adverts = data_dict['adverts_list']['adverts']
    next_url = data_dict['next_url']
#     print(next_url)
    output =[adverts, next_url]
    return adverts

In [ ]:
# page_num = 1
ads_list = []
links_list =[]
for x in range(1,1000):
    url = f"https://jiji.co.ke/api_web/v1/listing?slug=cars&webp=true&page={x}"
    ads_list.extend(get_listing(url)[0])
    links_list.extend(get_listing(url)[1])
    print(x)
    wait_time = random.randint(10,20)
    time.sleep(wait_time)

In [46]:
len(ads_list)

400

In [47]:
ads_df = pd.DataFrame(ads_list)
ads_df

,admin_info,apply_url,as_top,attrs,badge_info,booster_info,can_view_contacts,can_view_contacts_auth_url,category_name,category_slug,...,region_slug,short_description,slug,title,title_labels,tops_count,url,user_id,user_phone,labels
0,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,None,Cars,cars,...,kiambu-kiambu,"Nissan Murano, Very Clean, Sunroof, Leather In...",nissan-murano-2011-black,Nissan Murano 2011 Black,[],0,/kiambu-kiambu/cars/nissan-murano-2011-black-n...,4430126,0714444499,NaN
1,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,None,Cars,cars,...,lavington,Kdj registration\n1500 cc petrol\npush start/s...,toyota-premio-2015-purple,Toyota Premio 2015 Purple,[],0,/lavington/cars/toyota-premio-2015-purple-rRIk...,2367917,0711905390,NaN
2,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,None,Cars,cars,...,mombasa-cbd,"Toyota isis,2000cc petrol, 2014 model,mileage ...",toyota-isis-2014-black,Toyota ISIS 2014 Black,[],0,/mombasa-cbd/cars/toyota-isis-2014-black-dxLOg...,1305796,0724529543,NaN
3,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#229826', 'bg_color': '#3DB83...","{'count': 1, 'type': 'boosters_vip'}",True,None,Cars,cars,...,tudor,Fully loaded Toyota Allion 2014 with alloy rim...,toyota-allion-2015-purple,Toyota Allion 2015 Purple,[],0,/tudor/cars/toyota-allion-2015-purple-wXCtIy9T...,2260733,0724350733,NaN
4,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...","{'aside_color': '#C8822C', 'bg_color': '#ffaf4...","{'count': 1, 'type': 'boosters'}",True,None,Cars,cars,...,westlands,Make : toyota rav4 \nyear of make : 2012 \neng...,toyota-rav4-2012-silver,Toyota RAV4 2012 Silver,[],1,/westlands/cars/toyota-rav4-2012-silver-uBhS9h...,646635,0704342252,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...",{},NaN,True,None,Cars,cars,...,mombasa-cbd,Fully-loaded lexus Rx 270.\nSunroof.\nDaytime ...,lexus-rx-2014-270,Lexus RX 2014 270,[],0,/mombasa-cbd/cars/lexus-rx-2014-270-dxWC2UtnN1...,3080263,0728560000,NaN
396,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...",{},NaN,True,None,Cars,cars,...,mombasa-cbd,Subaru Outback 2015 model with sunroof. \n2500...,subaru-outback-2016-ivory,Subaru Outback 2016 Ivory,[],0,/mombasa-cbd/cars/subaru-outback-2016-ivory-zp...,2514755,0725725319,NaN
397,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...",{},NaN,True,None,Cars,cars,...,mvita,Very clean and in good condition and well main...,honda-stepwgn-2012-black,Honda Stepwgn 2012 Black,[],0,/mvita/cars/honda-stepwgn-2012-black-1K51l9qaf...,359388,0715990933,NaN
398,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...",{},NaN,True,None,Cars,cars,...,mombasa-cbd,"Control, lane assist, automatic high beam, pow...",suzuki-escudo-2015-black,Suzuki Escudo 2015 Black,[],0,/mombasa-cbd/cars/suzuki-escudo-2015-black-x9F...,2106453,0723008681,NaN
399,{},None,False,"[{'name': 'Condition', 'unit': None, 'value': ...",{},NaN,True,None,Cars,cars,...,mombasa-cbd,New registration\nkdd series\nextra loaded\nsu...,nissan-sylphy-2014-white,Nissan Sylphy 2014 White,[],0,/mombasa-cbd/cars/nissan-sylphy-2014-white-bcC...,1964267,0780860693,NaN

In [49]:
ads_df.to_csv('ads400.csv')